.App {
  text-align: center;
}

#btn_ADD{
  position: absolute;
  top: 8px;
  right: 10px;
  width: 80px;
  height: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: limegreen;
  border: none;
  outline: none;
  color: white;
  padding-top: 2px;
  border-radius: 5px;
}
